<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "
    />
  </head>

  <body>
    <div
      class="container align-items-center align-self-center justify-content-center"
    >
      <!-- navbar with logo, login and new joke -->
      <div th:replace="fragments/menu :: menu"></div>
      <!-- if no jokes, display message -->

      <div class="row justify-content-center">
        <div
          class="col-lg-6 col-md-12 align-items-center align-self-center justify-content-center"
        >
          <div class="card m-5">
            <div class="card-header" th:if="${joke != null}">
              <h5
                class="card-title"
                th:if="${joke != null}"
                th:text="${joke.title}"
              ></h5>
            </div>
            <div class="card-body" th:if="${joke != null}">
              <p
                class="card-text"
                th:if="${joke != null}"
                th:text="${joke.content}"
              ></p>
            </div>
            <div class="card-footer" th:if="${joke != null}">
              <small
                class="text-muted"
                th:if="${joke != null}"
                th:text="${joke.date}"
              ></small>
              <!-- add user name -->
              <small
                class="text-muted"
                th:if="${username != null}"
                th:text="${username}"
              ></small>
            </div>

            <div class="card-body" th:if="${joke == null}">
              <h5 class="card-title">No jokes yet</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- if joke is null, new joke button -->
        <a
          class="btn btn-primary"
          th:href="@{/new-joke}"
          th:if="${joke == null}"
          style="
            background-color: #f3e5f5;
            border-color: #e91e63;
            color: #e91e63;
          "
          >New Joke</a
        >
        <!-- if joke is not null, next joke button -->
        <a
          class="btn"
          th:href="@{/}"
          th:if="${joke != null}"
          style="
            background-color: #f3e5f5;
            border-color: #e91e63;
            color: #e91e63;
          "
          >Next Joke</a
        >
      </div>
    </div>
    <!--  js bootstrap dependencies -->
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  </body>
</html>
