<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>New Joke</title>
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "
    />
  </head>

  <body>
    <div class="container">
      <!-- navbar with logo, login and new joke -->
      <div th:replace="fragments/menu :: menu"></div>

      <!-- form to create a new joke -->
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 m-5">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">New Joke</h3>
            </div>
            <div class="card-body">
              <form
                action="#"
                th:action="@{/save-joke}"
                th:object="${joke}"
                method="post"
              >
                <!-- Add title input -->
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    th:field="*{title}"
                  />
                </div>
                <div class="form-group">
                  <label for="content">Joke</label>
                  <textarea
                    class="form-control"
                    id="content"
                    name="content"
                    rows="3"
                    th:field="*{content}"
                  ></textarea>
                  <!-- Hidden field with logged in user name as value -->
                  <input
                    type="hidden"
                    name="username"
                    th:value="${#authentication.name}"
                  />
                </div>
                <button
                  type="submit"
                  class="btn"
                  style="
                    background-color: #f3e5f5;
                    border-color: #e91e63;
                    color: #e91e63;
                  "
                >
                  Post joke
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  js bootstrap dependencies -->
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  </body>
</html>
